$main-color: #009846
  
.content-row
  display: flex
  flex-direction: row
  justify-content: space-around

.content-row-item
  border: 1px solid $main-color
  color: $main-color
  text-align: center
  width: 100%

.content-row-item:hover
  cursor: pointer
