.header
  background-color: lightgray
  height: 80px
  padding: 10px

.main-header
  align-items: center
  display: flex
  flex-direction: row
  justify-content: space-around

.logo-img
  height: 80px
  width: 80px